---
import portolio from '../data/portfolio.json';

const { projects } = portolio.dataPortfolio;
---
<section class="flex flex-col p-5 sm:p-3 mb-20">
    <h2 class="text-slate-700 dark:text-neutral-300 text-4xl font-bold mb-5">Proyectos</h2>
    <article class="grid grid-cols-1 lg:grid-cols-3">
        {projects.map((project) => ( 
            <div class="h-auto flex flex-col bg-slate-100 border border-slate-200 
            dark:bg-neutral-800 dark:border-neutral-900 lg:me-4 p-3 rounded-md mb-3">
                <img class="rounded-md border border-slate-200 aspect-video" 
                    src={project.imgProject} alt="galeria-web"/>
                <h3 class="text-slate-700 dark:text-neutral-300 text-xl font-semibold my-3">
                    {project.title}
                </h3>
                <p class="text-slate-600 dark:text-neutral-300 text-base font-normal">
                    {project.description}
                </p>
                <div class="my-3">
                    {project.tags.map((tag) => (
                        <span class="bg-slate-300 dark:bg-neutral-950 p-1 me-1 text-sm 
                        text-slate-600 dark:text-neutral-200 font-medium rounded-md">
                        {tag}
                        </span>
                    ))}
                </div>
                <hr class="border-slate-400 dark:border-neutral-600 mb-3">
                <div class="flex justify-center py-1">
                    {project.links && project.links.length > 0 && (
                        project.links.map((link) => (
                            <a href={link.linkWeb} target="_blank">
                                <img class="w-8 mx-3 dark:invert" src={link.imgIcon} alt="link-repositorio"/>
                            </a>
                        ))
                    )}
                </div>
            </div>
        ))}
    </article> 
</section> 

<style>
    a img:hover {
        filter: invert(0.4) sepia(10) hue-rotate(190deg) saturate(1000%);
    }
</style>